:root {
    --primary-color: #FD951F;
    --secondary-color: #1f6dfd;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style-type: none;

    border: none;
}

html,body {
    min-height: 100vh;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

.container {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

footer {
    margin-top: auto;
}

.button {
    background-color: var(--primary-color);
    color: white;
    display: block;
    margin: 16px 0;
    padding: 12px 16px;
    width: 100%;
    border-radius: 4px;
    /*para colocar button para baixo*/
    align-self: end;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
}

.button:hover {
    background-color: #d7780b;
}

.button.edit {
    background-color: var(--secondary-color);
}

.button.delete {
    background-color: lightgray;
}

.button.edit:hover {
    background-color: #009bbd;
}

.button.delete:hover {
    background-color: rgb(223, 62, 62);
}

header, footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 32px 0;
    text-align: center;
}

header .container {
    display: grid;
    grid-template-columns: 220px auto 280px;
    align-items: center;
    gap: 24px;
}

header .container a {
    justify-self: start;
}

/*logo*/

.logo h1 {
    color: white;
    font-size: 36px;
    line-height: 46px;
}

.logo h2 {
    color: var(--primary-color);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
}

/* HEADER SEARCH */

.search input {
    width: 100%;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 16px;
}

/* PRIMARY MENU */

nav.primary ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.primary ul li a {
    display: flex;
    align-items: center;
    color: white;
}

nav.primary ul li a:hover {
    color: var(--primary-color);
    transition: 200ms;
}

nav.primary ul li a i {
    margin-right: 8px;
}


/* SHOP */

.shop h2 {
    margin: 48px 0;
}

.shop .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

.shop .product {
    display: grid;
}

.shop .product .image {
    width: 15em;
    height: 15em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.shop .items h4 {
    margin: 8px 0;
    font-weight: normal;
    color: #999;
}

.shop .items p {
    color: #101010;
    font-weight: 300;
    font-size: 24px;
    margin-top: 8px;
}

.shop .product .old-price {
    padding: 0;
    margin: 4px 0;
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
}

/* SEARCH PAGE */

.search-products {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-top: 48px;
}

.search-products .header {
    margin-bottom: 48px;
    font-size: 14px;
    color: #333;
}

.search-products .header h2 {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.search-products nav h4 {
    margin-bottom: 16px;
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
}

.search-products nav li {
    margin: 4px 0;
}

.search-products nav ul li a {
    color: #777;
}

.search-products nav ul li a:hover {
    color: black;
    font-weight: bold;
}



/*validate error*/

.input .error {
    padding: 4px;
    border-radius: 4px;
    color: #e74c3c;
}